*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1rem;
    line-height: 1.7;
    font-family: system-ui,sans-serif;
    display: grid;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    grid-template-columns:  5rem 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header header'
    'sidebar main'
    'footer footer';
    grid-template-areas: 
    'sidebar header'
    'sidebar main'
    'footer footer';

    transition: grid-template-columns 0.3 ease;
   
}


body.sb-extend{
    grid-template-columns: 12.2rem 1fr;

}


.dashboard-aside button{
    position: absolute;
    inset: 4.5rem -0.75rem auto auto;
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
}

.dashboard-header{
    grid-area: header;
    background-color: white;
   
    padding: 1rem;
}

.dashboard-aside{
    position: relative;
    grid-area: sidebar;
    background-color: rgb(48, 41, 33);
    padding: 1.25rem;
}

.dashboard-main{
    grid-area: main;
    background-color: rgb(223, 172, 109);
    padding: 1.25rem;
}

.dashboard-footer{
    grid-area: footer;
    background-color: rgb(148, 145, 145);
    padding: 1.25rem;
}

.logo{
    display: flex;
    justify-content: center;
    line-height: 1.7;
    font-size: 3rem;
    color: white;

}

