main{
    display: flex;
    margin-inline: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: poppins;
    background-color: beige;
}

form{
    font-size: .9rem;
    padding: 1rem 1.25rem;
    margin: 1rem -1.25rem;
}

form>div{
    padding-block: .4rem;
}


label{
    display: block;
    margin-bottom: 0.5rem;
}

form textarea{
    min-height: 100px;
}

.form-control
{
    min-width: 300px;
    padding-block: .4rem;
    padding-inline: .4rem;
    background-color: rgb(221, 207, 207);
   
    border: none;
    font-size: 1rem;
}

.form-control:focus-visible{
    outline: 1px solid #2e2929;
}

button{
    min-width: 120px;
    padding-block: 0.4rem;
    background-color: rgb(15, 15, 14);
    color: rgb(255, 255, 255);
    font-family: poppins;
    border: 1px solid #2e2929;

}

